<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SHOP - Dashboard</title>

  {% load static %}
  <!-- Custom fonts for this template-->
  <link href="{% static 'common/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'common/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'common/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'common/nav.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Shops<span style="font-size:16px; margin-left:10px">GS-SHOP | AP-Mall | Glowpick</span></h1>

            <style>
              .update_button li{
                list-style:none;
                float:left;
                margin-left:10px;
                margin-top:20px;
              }
            </style>
            <ul class="update_button">
              <li>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                  <i class="fas fa-download fa-sm text-white-50"></i>
                  GlowpickUpdate
                </a>
              </li>
              <li>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                  <i class="fas fa-download fa-sm text-white-50"></i>
                  GlowpickUpdate
                </a>
              </li>
              <li>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                  <i class="fas fa-download fa-sm text-white-50"></i>
                  GlowpickUpdate
                </a>
              </li>
            </ul>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        상품수량 합계
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ product_data | length }}
                      </div>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        리뷰수량 합계
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ review_data | length }}
                      </div>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        상품당 리뷰수
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ review_avg }}
                      </div>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        리뷰당 평균 점수
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ rating_sum_avg }}
                      </div>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">리뷰가 가장 많은 상품 TOP3</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <tbody>
                        <tr>
                            <td style="width:100px;"><strong>순위</strong></td>
                            <td>상품명</td>
                            <td>리뷰수</td>
                        </tr>
                        <tr>
                            <td><strong>1위</strong></td>
                            <td>19 이니스프리 납작 아이브로우 펜슬</td>
                            <td>207개</td>
                        </tr>
                        <tr>
                            <td><strong>2위</strong></td>
                            <td>그린티밸런싱로션_세븐데이즈_10ML(19)</td>
                            <td>200개</td>
                        </tr>
                        <tr>
                          <td><strong>3위</strong></td>
                          <td>그린티밸런싱스킨_세븐데이즈_10ML(19)</td>
                          <td>200개</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- Content Row -->
          <div class="row" style="margin-top:10px;">
            <!-- Area Chart -->
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">가격 그래프</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <canvas id="price-chart" data-url="{% url 'price-chart' %}"></canvas>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">리뷰 그래프</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <canvas id="review-chart" data-url="{% url 'review-chart' %}"></canvas>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <!-- <div class="row">
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">리뷰 그래프</h6>
                </div>
                <div class="card-body">
                  <canvas id="chart3" data-url="{% url 'chart3' %}"></canvas>
                </div>
              </div>
            </div>
          </div> -->


          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">[APmall] top20 제품 월별 판매량</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <img src = "{% static 'common/img/ap-top20.jpeg' %}" style="width:100%;">
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">[GSshop] top20 제품 월별 판매량</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <img src = "{% static 'common/img/GS.png' %}" style="width:100%;">
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">[APmall] top20 제품 월별 판매량</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="margin:auto">
                  <img src = "{% static 'common/img/ap_mall.jpeg' %}" style="width:600px;">
                </div>
              </div>
            </div>
          </div>


          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-md-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">[Glowpick]</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <h8 class="m-0 font-weight-bold text-primary">- 긍정</h8>
                  <img src = "{% static 'common/img/pos.png' %}" style="width:100%;">
                  <h8 class="m-0 font-weight-bold text-primary">- 부정</h8>
                  <img src = "{% static 'common/img/neg.png' %}" style="width:100%;">
                </div>
              </div>
            </div>
          </div>

        


        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'common/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'common/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'common/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'common/js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'common/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'common/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'common/js/demo/chart-pie-demo.js' %}"></script>

  <!-- Cosmetics -->
  <script src="{% static 'common/js/chart_common.js' %}"></script>

</body>

</html>
