<h1>크롤링한 상품 리스트가 보여집니다. </h1>




<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<canvas id="pie-chart"></canvas>

<script>

var config = {
  type: 'pie',
  data: {
    datasets: [{
      data: {{ review | review_date }},
      backgroundColor: [
        '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
      ],
      label: 'labels'
    }],
    labels: {{ review_date | review_rating }}
  },
  options: {
    responsive: true
  }
};

window.onload = function() {
  var ctx = document.getElementById('pie-chart').getContext('2d');
  window.myPie = new Chart(ctx, config);
};

</script>